# Data Science Tools and Ecosystem

## Author
Alka Prasad

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular data science languages that data scientists use 
* List some commonly used libraries used by data scientists
* Create a table
* Calculate some arithmetic

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

|Data Science Tools|
|------------------|
|GitHub|
|Jupyter Notebook|
|VS Code|

Below are a few examples of evaluating arithmetic expressions in Python.
* 13*3-2
* 13-3*2
* (3*4)+5

In [3]:
#This is a simple arithmetic expression to multiply, then add integers.

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335